/* @import url("https://use.typekit.net/zbf1ewp.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: ellograph-cf, system-ui, sans-serif !important;
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  #main-wrapper {
    overflow-x: hidden;
  }
}

@layer utilities {
  .animation-delay-8000 {
    animation-delay: -8s;
  }
  .animation-delay-16000 {
    animation-delay: -16s;
  }
}
