/* @import url("https://use.typekit.net/zbf1ewp.css"); */

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-superior: "superior-title", serif;
  --font-ellograph: "ellograph-cf", monospace;
  --font-basic: "basic-sans", serif;

  --animate-blob: blob 25s infinite ease-in-out;

  @keyframes blob {
    0% { transform: translate(0px, 0px); }
    33% { transform: translate(35vw, 0px); }
    66% { transform: translate(0px, 35vw); }
  }
}

@layer base {
  html {
    font-family: basic-sans, system-ui, sans-serif !important;
    font-size: 16px;
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  #main-wrapper {
    overflow-x: hidden;
  }
}

@layer utilities {
  .animation-delay-8000 {
    animation-delay: -8s;
  }
  .animation-delay-16000 {
    animation-delay: -16s;
  }
}
