---
import Layout from "../layouts/Layout.astro";
import Blobs from "../components/Blobs.astro";
---

<Layout title="Welcome to Astro.">
  <Blobs />
  <h1 class="font-superior md:text-7xl text-5xl leading-snug mt-6">
    Hello, I'm Laksh.<br />I'm a developer.
  </h1>
  <p class="font-ellograph font-thin max-w-prose py-12">
    I'm an undergraduate student studying Computer Science. I enjoy hacking,
    teaching and puzzle solving.
  </p>
  <div class="h-px bg-black my-4"></div>
</Layout>
