---
const { b1, b2, b3 } = Astro.props;
---

<div
  class={b1 +
    " absolute -z-50 -top-1/4 -left-1/4 w-[75vw] h-[75vw] min-w-[max(30rem, 100vw)] min-h-[max(30rem, 100vw)] !max-w-[min(60rem,100vw)] max-h-[60rem] rounded-full mix-blend-multiply blur-2xl animate-blob pointer-events-none"}
    style={{backgroundColor: b1}}
>
</div>
<div
  class={b2 +
    " absolute -z-50 -top-1/4 -left-1/4 w-[75vw] h-[75vw] min-w-[max(30rem, 100vw)] min-h-[30rem] !max-w-[min(60rem,100vw)] max-h-[60rem] rounded-full mix-blend-multiply blur-2xl animate-blob !animation-delay-8000 pointer-events-none"}
    style={{backgroundColor: b2}}
>
</div>
<div
  class={b3 +
    " absolute -z-50 -top-1/4 -left-1/4 w-[75vw] h-[75vw] min-w-[max(30rem, 100vw)] min-h-[30rem] !max-w-[min(60rem,100vw)] max-h-[60rem] rounded-full mix-blend-multiply blur-2xl animate-blob !animation-delay-16000 pointer-events-none"}
    style={{backgroundColor: b3}}
>
</div>

<!-- <style>
  .a-delay-8 {
    animation-delay: -8s !important;
  }

  .a-delay-16 {
    animation-delay: -16s !important;
  }
</style> -->
