<div>
  <h1
    class="font-superior md:text-5xl text-4xl leading-snug my-6 md:text-right"
  >
    Laksh<br />Chakraborty
  </h1>
  <div
    class="flex font-ellograph font-light gap-11 text-sm pb-12 justify-start md:justify-end"
  >
    <div class="underline underline-offset-2">
      <a href="https://twitter.com/_nullref_">Twitter</a>
    </div>
    <div class="underline underline-offset-2">
      <a href="https://github.com/reftonull">Github</a>
    </div>
    <div class="underline underline-offset-2">
      <a href="/about#contact">Contact</a>
    </div>
  </div>
</div>
