---
import { Image } from "@astrojs/image/components";
import logo from "../images/logo.png";

const navBarLinks: Array<{ href: string; label: string }> = [
  {
    href: "/library",
    label: "Library",
  },
  {
    href: "/about",
    label: "About",
  },
];
---

<nav>
  <div class="flex flex-row pt-6 pb-12 items-center">
    <div class="text-sm sm:text-lg font-ellograph">
      <!-- <a href="/">Laksh <span class="">Chakraborty</span></a> -->
      <a href="/"><Image src={logo} alt="Logo" class="w-12" /></a>
    </div>
    <div class="grow"></div>
    <div class="font-ellograph flex gap-6 text-sm sm:text-lg">
      {navBarLinks.map((link) => <a href={link.href}>{link.label}</a>)}
    </div>
  </div>
</nav>
