---
import Blobs from "../components/Blobs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
  <Blobs />
  <h1 class="font-superior md:text-6xl text-5xl leading-snug my-6">About Me</h1>
  <div class="flex gap-6 flex-col-reverse md:flex-row md:content-center">
    <div>
      <div class="max-w-prose">
        <slot />
        <p class="my-4">
          Hi, I'm an undergraduate student at New York University. I'm majoring
          in Computer Science, and my interest in the field is (at this point)
          very varied. I have dabbled briefly in many disciplines, including
          back-end web development, cryptography and machine learning, but the
          majority of my experience is in front-end web and app development.
          Most of this I did in my own time, and my overall aim at college is to
          formalize this "dabbling".
        </p>
        <p class="my-4">
          College has given me the opportunity and time to branch out into other
          interests; I've learned about everything from Egypt in the late BCEs
          to analysis of photographs from the Second World War. All of this is
          circumscribed by my passion for learning; More than anything, I'm an
          puzzle solver: trying to make disparate things in disparate fields fit
          together to give a meaningful result. This exploration led me to
          discover my enthusiasm for teaching. I currently work as a Learning
          Assistant at NYU's University Learning Center, where I tutor classes
          in computer science, math, and even writing.
        </p>
        <p class="my-4">
          If you want to know more, you can find things I'm currently working on
          in Projects. You can also find what I'm reading, watching, and
          listening to in Library. If you want to learn more about this site,
          you can find more info here.
        </p>
      </div>
    </div>
    <div class="md:self-start self-center">
      <div class="border-8 rounded-2xl inline-block md:mt-4">
        <img
          src="profile.jpeg"
          alt="Profile picture of me sitting with a little doggo."
          class="md:max-w-xs mix-blend-normal rounded-lg bg-blend-normal"
        />
      </div>
    </div>
  </div>
</Layout>
