---
import Blobs from "../components/Blobs.astro";
import Layout from "../layouts/Layout.astro";
import profile from "../images/profile.jpeg";
import { Image } from "@astrojs/image/components";
---

<Layout title="About Me">
  <Blobs b1="bg-red-300" b2="bg-yellow-300" b3="bg-orange-300" />
  <h1 class="font-superior md:text-6xl text-5xl leading-snug my-6">About Me</h1>
  <div class="flex gap-6 flex-col-reverse md:flex-row md:content-center">
    <div>
      <div class="max-w-prose prose prose-headings:font-superior">
        <slot />
      </div>
    </div>
    <div class="md:self-start self-center">
      <div class="border-8 rounded-2xl inline-block border-white">
        <Image
          src={profile}
          alt="Profile picture of me sitting with a little doggo."
          class="md:max-w-xs mix-blend-normal rounded-lg bg-blend-normal"
        />
      </div>
    </div>
  </div>
</Layout>
