---
import BaseHeader from "../components/BaseHeader.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <BaseHeader title={title} description="" />
  <body>
    <div id="main-wrapper">
      <main class="m-auto max-w-screen-lg">
        <div class="mx-6">
          <NavBar />
          <div class="min-h-screen">
            <slot />
          </div>
          <Footer />
        </div>
      </main>
    </div>
  </body>
</html>
